<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="business.css">

        <!-- body font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">

        <!-- button font --><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

style 

        include ../static/stylebuynow.css

        include ../static/business.css
</head>

body
<div class="header">

        <div class="logo">
                <img src="../static/logo.png" alt="loading">
                <h2>V forYou</h2>
        </div>
        <div class="navbar">
                <ul>
                        <li class="list"><a href="/">Home</a></li>
                        <li class="list"><a href="privacy">Privacy Policy</a></li>
                        <li><a href="blog">Blog</a></li>
                        <li><a href="contact">Contact Us</a></li>
                        <li id="buy"><a href="buynow">Buy now</a></li>
                        <li id="signin"><a href="#">Sign in</a></li>

                </ul>

        </div>

</div>
section#introsection 


        div.headinglol Buy numerous business modules 

section#missionsection 
        div.miss Mission 
        div.card 
                h3 For small Business
        div.card     
                h3 For large business      
        div.card 
                h3 For MNC 
section#sponsorsection 
        div#sponsor
//- img(Src='../static/bg.jpg' alt='login' style='width:10px; height:10px;')

